//小于等于
@media (max-width:2560px) {
    html {
        font-size: 110%
    }
}

@media (max-width:1900px) {
    html {
        font-size: 100%
    }
}

@media (max-width:1400px) {
    html {
        font-size: 95%
    }
}

@media (max-width:768px) { //移动端
    html {
        font-size: 87%
    }
    
}

//大于等于
@media (min-width:1400px) {
    
}

@media (min-width:1900px) {
   
}